<footer class="bg-[#4c5994] text-gray-300 px-4 mt-5">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo Section -->
      <div class="flex items-center">
        <img
          src="../../../../assets/images/aitrich.png"
          alt="Aitrich Corp Logo"
          class="w-[200px]"
        />
      </div>
  
      <!-- Copyright Section -->
      <div class="text-center">
        <p class="text-sm">
          &copy; 2025 Aitrich Technologies Pvt. Ltd. All rights reserved.
        </p>
      </div>
  
      <!-- Social Media Icons Section -->
      <div class="flex items-center">
        <a
          href="https://www.facebook.com/AitrichAcademy?mibextid=ZbWKwL"
          target="_blank"
          class="text-blue-600 hover:text-blue-800 text-2xl mr-4"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          href="https://www.instagram.com/aitrich.academy/"
          target="_blank"
          class="text-pink-400 hover:text-pink-600 text-2xl mr-4"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="https://www.youtube.com/@aitrichacademy"
          target="_blank"
          class="text-pink-400 hover:text-pink-600 text-2xl mr-4"
        >
          <i class="fab fa-youtube"></i>
        </a>
        <a
          href="https://aitrichacademy.com/"
          target="_blank"
          class="text-gray-700 hover:text-gray-900 text-2xl"
        >
          <i class="fas fa-globe"></i>
        </a>
      </div>
    </div>
  </footer>